<!DOCTYPE html>
<html>

<head>
    <title>Sensor names</title>
    <link rel=stylesheet href="../css/sensor.css">
    
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="../js/sensors.js"></script>
    <script src="http://interview.optumsoft.com/javascripts/socket.io-1.2.0.js"></script>
    <script src="/socket.io/socket.io.js"></script>
 
</head>
    <body>
        <table id="sensor_names">
            <thead>
            <tr >
                <th>Sensor Names</th>
            </tr>
            </thead>
           <tbody></tbody> 
        </table>
    </body>
</html>
